%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-inner
    %div.container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'}STOCK EXCHANGE
      %div.nav-collapse.collapse
        %ul.nav
          %li.active
            %a{:href => "/"}Home
          %li
            <a href="#about">About</a></li>
          %li
            <a href="#contact">Contact</a></li>
        %form.navbar-form.pull-right{:action => '/login'}
          %input.span2{:type => "text", :placeholder => "Email"}
          %input.span2{:type => "password", :placeholder => "Password"}
          %button.btn{:type => "submit" } Sign in
