%div.navbar.navbar-inverse.navbar-fixed-top
  %div.navbar-inner
    %div.container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '/'}STOCK EXCHANGE
      %div.nav-collapse.collapse
        - if user_signed_in?
          = render 'layouts/logged_in_dropdown'
        - else
          = render 'layouts/signin_signup_form'
        %ul.nav
          %li.active
            %a{:href => "/"}Home
