= link_to "Sign Up", signup_path, :class => 'btn btn-success pull-right'
%form.navbar-form.pull-right{:action => '/login', :method => :post}
  %input.span2{:type => "text", :name => :email, :placeholder => "Email"}
  %input.span2{:type => "password", :name => :password, :placeholder => "Password"}
  %input.btn.btn-primary{:type => "submit", :value => "Sign in" }
  &nbsp;
