= link_to "Sign Up", signup_path, :class => 'btn btn-success pull-right'
%form.navbar-form.pull-right{:action => '/login'}
  %input.span2{:type => "text", :placeholder => "Email"}
  %input.span2{:type => "password", :placeholder => "Password"}
  %button.btn.btn-primary{:type => "submit" } Sign in
  &nbsp;